[Desktop Entry]
Encoding=UTF-8
Name=Neodash
Comment=Neodash P2P Cryptocurrency
Comment[fr]=Neodash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Neodash, eşten eşe kriptografik sanal para birimi
Exec=Neodash-qt %u
Terminal=false
Type=Application
Icon=Neodash128
MimeType=x-scheme-handler/Neodash;
Categories=Office;Finance;
